<nav class="navbar navbar-expand-lg sticky-top navbar-dark navbar-fixed-top" style="background-color: #2f3744;">
  
  <a class="navbar-brand" routerLink="/">Boarding.lk</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">Contact Us</a>
      </li>

      <li class="nav-item">

      </li>

    </ul>
    <input class="form-control mr-sm-2 large" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>

    <form class="form-inline my-2 my-lg-0 link">

      <button *ngIf="!isLoggedIn()" type="button" routerLink="/login" class="btn btn-link link">Login</button>
      <button *ngIf="!isLoggedIn()" type="button" routerLink="/signup" class="btn btn-link link">Sign Up</button>

      <a *ngIf="authService.isLoggedIn()" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.currentUser.name}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </a>

      <button type="button" routerLink="/Postad" class="btn btn-warning bold">Post AD</button>
     
    </form>

    

  </div>
</nav>