<div class="container pulldown">
    <h2>Search Results for {{searchQuery}}</h2>
    <mat-paginator [length]="count" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlepage($event)">
      </mat-paginator>
      <div *ngIf="noResults" class="alert alert-info" role="alert">
        Sorry. We can't Find any Results. . .
      </div>

      <section *ngFor="let ad of items">
        <div class="py-3">
          <div class="card">
            <div class="row ">
              <div class="col-md-4">
                <img src="http://localhost:3000/{{ad.photos[0]}}" width="200" height="200">
              </div>
              <div class="col-md-8 px-3">
                <div class="card-block px-3 container">
                  <h4 class="card-title heading">{{ad.title}}</h4>
                  <p class="card-text">{{ad.description}}</p>
                  <h6>{{ad.city}}</h6>
                  <a [routerLink]="['/advert', ad._id]" class="btn btn-primary btn-sm">Show More</a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>
</div>