<div class="pulldown">
    <div class='container pulldown pullup'>
        <div class="card">
            <div class="card-header">
                <h2>Post Ad</h2>
            </div>
            <div class="card-body example-container">
                <form class="example-form" #f="ngForm" name="form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Title" name="title" ngModel required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Description" name="description" ngModel required></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="City" name="city" ngModel required>
                            <mat-option *ngFor="let city of cities" [value]="city">
                                {{city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contact name" name="username" ngModel required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contact e-mail" name="useremail" ngModel required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contact number" name="userphonenumber" ngModel required>
                    </mat-form-field>
                    <div class="form-group">
                        Main Photo
                        <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                        <br>
                    </div>
                    <div *ngIf="uploader.getNotUploadedItems().length">
                        <div class="form-group">
                            Additional Photo #1
                            <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                            <br>
                        </div>
                        <div class="form-group">
                            Additional Photo #2
                            <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                            <br>
                        </div>

                        <div class="form-group">
                            Additional Photo #3
                            <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                            <br>
                        </div>
                        <div class="form-group">
                            Additional Photo #4
                            <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                        </div>
                    </div>

                    <div class="alert alert-warning form-group" *ngIf="this.error" role="alert">
                        {{errorText}}
                    </div>


                    <button type="button" class="btn btn-success btn-s" (click)="onSubmit(f.value)" [disabled]="!f.form.valid || !valid()">
                        Post my Ad
                    </button>

                    
                </form>

                

            </div>
        </div>

    </div>

</div>